/* 
---------------------------------------------
Domain Starts
--------------------------------------------- 
*/
.section__title_d{
    margin-bottom: 2rem;
    font-size: 4rem;
    font-family: "Bungee Shade", cursive;
    color: #414141;
    text-align: right;
  }
  .center-heading .subhead-title{
    font-size: 20px;
    color: #777;
    margin-bottom: 30px;
  }
  .domain__wrapper {
    display: grid;
    gap: 0rem;
  }
  
  .domain__content {
    display: grid;
    gap: 2rem;
  }
  
  .domain__stats {
    display: grid;
    place-items: center;
    gap: 3rem;
  }
  
  .domain__card {
    padding: 3.5rem 0;
    display: grid;
    gap: 0.5rem;
    place-items: center;
    border-radius: 15px;
    width: 100%;
    height: 100%;
  }
  
  .domain__card h4,
  .domain__card p {
    margin: 0;
  }
  
  .web{
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #8338EC;
  }
  .app{
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #FFFFFF;
  }
  .blockchain{
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #2714FF;
  }
  .aiml{
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #FFFFFF;
  } 

/* Price styling of Domains */
  .prize-des-web{
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: bold !important;
    font-size: 1.75rem !important;
    text-align: center;
    letter-spacing: 0.05em;
    color: #8338EC;
  }
  .prize-des-app{
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: bold !important;
    font-size: 1.75rem !important;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
  }
  .prize-des-block{
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: bold !important;
    font-size: 1.75rem !important;
    text-align: center;
    letter-spacing: 0.05em;
    color: #2714FF;
  }
  .prize-des-aiml{
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: bold !important;
    font-size: 1.75rem !important;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
  }

  .worth-p-web{
    color: #8338EC;
  }
  .worth-p-app{
    color: #FFFFFF;
  }
  .worth-p-block{
    color: #2714FF;
  }
  .worth-p-aiml{
    color: #FFFFFF;
  }
  
  .domain__card--variant-1 {
    border: 4px solid #8338EC;
  }
  
  .domain__card--variant-2 {
    background-color: rgb(230, 57, 70);
    color: white;
  }
  
  .domain__card--variant-3 {
    background-color: #86B4FD;
    color: white;
  }
  .domain__card--variant-4 {
    background-color: #FFBE0B;
    color: white;
  }
  
  @media screen and (min-width: 900px)  and (max-width: 1200px){
    .domain__content {
      grid-template-columns: 2fr 1fr;
    }
  
    .domain__stats {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 2rem;
    }
    .countdown-bg {
      position: absolute;
      left: -63px;
      top: 50px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .domain__wrapper {
      gap: 4rem;
    }
  
    .domain__content {
      gap: 4rem;
    }
    .domain__stats {
        grid-template-columns: repeat(4, 1fr);
        margin-top: 2rem;
      }
  }
  
  @media screen and (max-width: 992px) {
    .countdown-bg {
      position: absolute;
      left: -73px;
      top: 50px;
      width: 15%;
    }
    .domain__stats {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 2rem;
      }
  }
  
  @media screen and (max-width: 685px) {
    .domain__stats {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 2rem;
      }
    .section__title_d{
        margin-bottom: 2rem;
        font-size: 3rem;
        font-family: "Bungee Shade", cursive;
        color: #414141;
        text-align: right;
      }
  }
  @media screen and (max-width: 540px) {
    .countdown-bg {
      position: absolute;
      left: -60px;
      top: 31px;
      width: 22%;
    }
  }
  

  /* 
---------------------------------------------
FAQ Starts
--------------------------------------------- 
*/
.section__title_f {
  font-family: "Bungee Shade", cursive;
  font-size: 3rem;
  color: #414141;
  text-align: left;
  margin-bottom: 3rem;
  margin-left: 2rem;
}
.flex-center {
	align-items: center;
}

#accordion .accordion-card {
	background: transparent;
	border: 0;
	margin-bottom: 30px;
}
#accordion .accordion-card__header {
	background: #3f51b5;
	color: #fff;
	padding: 15px;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#accordion .accordion-card__header.collapsed .drop-icon {
	transform: rotate(0deg);
}
#accordion .accordion-card__header h5 {
	display: flex;
	align-items: center;
}
#accordion .accordion-card__header h5 span {
	margin-left: 10px;
}
#accordion .accordion-card__header .drop-icon {
	margin-right: 15px;
	transform: rotate(180deg);
	transition: all 0.2s;
}
#accordion .accordion-card__body {
	padding: 25px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 786px) {
  #faqs .row{
    display: flex;
    flex-direction: column;
  }
  #faqs .row .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
  }
}

@media screen and (max-width: 540px) {
  #accordion .accordion-card__header h5 span {
    margin: 0px 12px;
  }
  .section__title_f {
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
}
